 body {
                text-align: center;
            }
            h1 {
                color: blueviolet;
            }
            button {
                color: rgb(43, 226, 52);
                padding: 10px 15px 10px 15px;
                background-color: blue;
                border-radius: 20px;
                transition: all 200ms ease-in-out;
                cursor: pointer;
            }
            button:hover {
                color: white;
                background-color: black;
            }